.cabecero {
    background: url(../img/fondo.png), linear-gradient(to right, orange , purple);
}

.btn-oculto {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease-out, visibility 0.3s;
}

.ingreso:hover .btn-oculto {
    opacity: 1;
    visibility: visible;
    width: 20px;
    margin-left: 20px;
    transform: translate(0);
    cursor: pointer;
}
